@import "tailwindcss";

:root {
  --background: #ffffff;
  --primary: #001ec6;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --font-sans: var(--font-primary);
}
