@import "tailwindcss";

:root {
  --main: #ffffff;
  --brand: #001ec6;
  --muted: #f4f4f4;
}

@theme inline {
  --color-main: var(--main);
  --color-brand: var(--brand);
  --color-muted: var(--muted);
  --font-sans: var(--font-main);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
