@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --main: #ffffff;
  --brand: #001ec6;
  --muted: #f4f4f4;
  --tag-bg: #e8e8e8;
  --ai-gradient: linear-gradient(98.63deg, #e05cff 0%, #ff7967 100%);
}

@theme inline {
  --color-main: var(--main);
  --color-brand: var(--brand);
  --color-muted: var(--muted);
  --color-tag-bg: var(--tag-bg);
  --font-sans: var(--font-main);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

@layer utilities {
  .text-ai-gradient {
    background: var(--ai-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}

@utility prose {
  /* Base text colors */
  --tw-prose-body: var(--color-brand);
  --tw-prose-headings: var(--color-brand);
  --tw-prose-lead: var(--color-brand);
  --tw-prose-links: var(--color-brand);
  --tw-prose-bold: var(--color-brand);

  /* Lists */
  --tw-prose-counters: var(--color-brand);
  --tw-prose-bullets: var(--color-brand);

  /* Rules + Blockquote */
  --tw-prose-hr: var(--color-brand);
  --tw-prose-quotes: var(--color-brand);
  --tw-prose-quote-borders: var(--color-brand);

  /* Caption + subtle text */
  --tw-prose-captions: var(--color-brand);

  /* Inline code */
  --tw-prose-code: var(--color-brand);
  --tw-prose-pre-code: var(--color-brand);
  --tw-prose-pre-bg: var(--color-muted);

  /* Tables */
  --tw-prose-th-borders: var(--color-brand);
  --tw-prose-td-borders: var(--color-brand);

  /* Dark mode (invert) */
  --tw-prose-invert-body: var(--color-brand);
  --tw-prose-invert-headings: var(--color-brand);
  --tw-prose-invert-lead: var(--color-brand);
  --tw-prose-invert-links: var(--color-brand);
  --tw-prose-invert-bold: var(--color-brand);
  --tw-prose-invert-counters: var(--color-brand);
  --tw-prose-invert-bullets: var(--color-brand);
  --tw-prose-invert-hr: var(--color-brand);
  --tw-prose-invert-quotes: var(--color-brand);
  --tw-prose-invert-quote-borders: var(--color-brand);
  --tw-prose-invert-captions: var(--color-brand);
  --tw-prose-invert-code: var(--color-brand);
  --tw-prose-invert-pre-code: var(--color-brand);
  --tw-prose-invert-pre-bg: var(--color-muted);
  --tw-prose-invert-th-borders: var(--color-brand);
  --tw-prose-invert-td-borders: var(--color-brand);
}

/* @layer components {
  .prose h1 {
    font-size: 2.25rem; 
    line-height: 2.5rem;
  }

  .prose h2 {
    font-size: 1.875rem; 
    line-height: 2.25rem;
  }

  .prose h3 {
    font-size: 1.5rem; 
    line-height: 2rem;
  }

  .prose h4 {
    font-size: 1.25rem; 
    line-height: 1.75rem;
  }
} */

.prose input,
.prose select,
.prose textarea {
  background-color: var(--color-muted);
  border-color: var(--color-brand);
}

.prose input[type="checkbox"],
.prose input[type="radio"] {
  accent-color: var(--color-brand);
  background-color: var(--color-muted);
}
