@import "tailwindcss";

:root {
  --main: #ffffff;
  --brand: #001ec6;
  --muted: #f4f4f4;
  --ai-gradient: linear-gradient(98.63deg, #e05cff 0%, #ff7967 100%);
}

@theme inline {
  --color-main: var(--main);
  --color-brand: var(--brand);
  --color-muted: var(--muted);
  --font-sans: var(--font-main);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

@layer utilities {
  .text-ai-gradient {
    background: var(--ai-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}
